HOST: http://api.visualfeature.com/

--- Visual Feature API ---
---
Managing lifecycle of a feature from idea to implementation and deployment.
---

--
Accounts Resources
The following is a section of resources related to app accounts.
--
List accounts (only for admin access).
GET /accounts
< 200
< Content-Type: application/json
{
    "accounts": [
        {
            "id": 1,
            "url": "/accounts/1",
            "name": "Naviam",
            "status": "active",
            "description": "Naviam company account"
        },
        {
            "id": 2,
            "url": "/accounts/2",
            "name": "ServiceChannel",
            "status": "active",
            "description": "ServiceChannel company account"
        }
    ]
}

Create new app account.
POST /accounts
> Content-Type: application/json
{
    "name": "eLifeLab",
    "description": "eLifeLab company account"
}
< 201
< Content-Type: application/json
< Location: "/accounts/3"
{
    "id": 3,
    "status": "pending confirmation"
}

--
Stages Resources
The following is a section of resources related to the states / stages feature should go through in it's life.
--
List stages.
GET /stages
< 200
< Content-Type: application/json
{ "stages": [
{ "name": "R&D", "branch": "dev", "project": "ServiceChannel", "id": 1, "url": "/stages/1"},
{ "name": "QA1", "branch": "qa1", "project": "ServiceChannel", "id": 2, "url": "/stages/2"},
{ "name": "QA2", "branch": "qa2", "project": "ServiceChannel", "id": 3, "url": "/stages/3"},
{ "name": "LoadTests", "branch": "load", "project": "ServiceChannel", "id": 4, "url": "/stages/4"},
{ "name": "Sandbox1", "branch": "sb1", "project": "ServiceChannel", "id": 5, "url": "/stages/5"},
{ "name": "Sandbox2", "branch": "sb2", "project": "ServiceChannel", "id": 6, "url": "/stages/6"},
{ "name": "Staging", "branch": "master", "project": "ServiceChannel", "id": 7, "url": "/stages/7"},
{ "name": "Production", "branch": "master", "project": "ServiceChannel", "id": 8, "url": "/stages/8"}
] }

Add new stage
POST /stages
> Content-Type: application/json
{
    "name":"Sandbox3",
    "branch": "sb3",
    "project": "ServiceChannel"
}
< 201
< Content-Type: application/json
< Location: "/stages/9"
{ "id": 9 }

PUT /stages/2
> Content-Type: application/json
{ "branch": "sandbox3" }
< 200
< Content-Type: application/json


--
Feature State Resources
The following is a section of resources related to the state of the feature
--
List features in a particular state. (comment block again in Markdown)
GET /features
< 200
< Content-Type: application/json
{
    "features": [
    {
        "id": "",
        "url": "/features/1",
        "stage_url": "/stages/1",
        "quantity": 1,
        "name": "New socks",
        "price": 1.25
    },
    ]
}


Add new feature
POST /features
> Content-Type: application/json
{ "product":"1AB23ORM", "quantity": 2 }
< 201
< Content-Type: application/json
{ "status": "created", "url": "/shopping-cart/2" }


-- Payment Resources --
This resource allows you to submit payment information to process your *shopping cart* items
POST /payment
{ "cc": "12345678900", "cvc": "123", "expiry": "0112" }
< 200
{ "receipt": "/payment/receipt/1" }