extends layout
block stylesheet
    link(rel="stylesheet",href="/css/dashboard.css")

block navigation
    div.navbar.navbar-inverse.navbar-fixed-top
        div.container-fluid
            div.navbar-header
                button.navbar-toggle(type="button",data-toggle="collapse",data-target=".navbar-collapse")
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href="#") Naviam | Release Manager
            div.navbar-collapse.collapse
                ul.nav.navbar-nav.navbar-right
                    li
                        a(href="/SDLC/Setup",title="Software Development Life Cycle Setup")
                            span.glyphicon.glyphicon-cog
                            |  SDLC
                    li.dropdown
                        a.dropdown-toggle(href="#",data-toggle="dropdown")
                            span.glyphicon.glyphicon-user
                            |  vhatalski@naviam.com
                            b.caret
                        ul.dropdown-menu
                            li
                                a(href="/Profile")
                                    span.glyphicon.glyphicon-picture
                                    |  Profile
                            li.divider
                            li
                                a(href="/Logout")
                                    span.glyphicon.glyphicon-log-out
                                    |  Logout
block content
    div.container-fluid
        .row(data-bind="with: currentRepository")
            .col-sm-3.col-md-2.sidebar
                h4.page-header(style="margin-top:20px") ServiceClick
                ul.nav.nav-sidebar(data-bind="foreach: environments")
                    li
                        a(href="#")
                            //span.badge(data-bind="text: count")
                            span.label.pull-right(data-bind="text: branchname, css: css")
                            span(data-bind="text: fullname")
                ul.nav.nav-sidebar(data-bind="foreach: $root.organizations")
                    li
                        a.accordion-toggle(data-bind="click: toggleCollapse, attr: { href: '#' + login }",data-toggle="collapse",data-parent="#accordion")
                            span.glyphicon.glyphicon-collapse-down(data-bind="css: { 'glyphicon-collapse-down': isCollapsed(), 'glyphicon-expand': !isCollapsed() }")
                            |  
                            span(data-bind="text: login")
                    ul.nav.panel-collapse.collapse(data-bind="foreach: repositories, attr: {id: login}")
                        li
                            a(data-bind="text: name, click: $root.setCurrentRepository, attr: { href: url, title: name }")
            .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
                // h4.page-header ServiceClick
                //- form.navbar-form(role="search")
                //-     .input-group
                //-         input.form-control(type="text", placeholder="Search")
                //-         span.input-group-btn
                //-             button.btn.btn-default(type="submit") Go!
                .table-responsive
                    table.table.table-striped
                        tbody
                            <!-- ko foreach: stories -->
                            tr
                                td
                                    span.label.label-primary(data-bind="text: environment")
                                td
                                    h5.css-truncate-target.text-primary(style="margin-top: 0px")
                                        a(data-bind="attr: {href: html_url, title: title}",target="_blank")
                                            span(data-bind="text: number") 
                                            | : 
                                            span(data-bind="text: normalizedBody")
                                td
                                    p(data-bind="visible: storyLinks().length > 0", style="margin-bottom: 0px")
                                        <!-- ko foreach: storyLinks -->
                                        a(data-bind="attr: { href: url, title: title }", target="_blank")
                                            span.label.label-primary(data-bind="text: text")
                                        br
                                        <!-- /ko -->
                                td
                                    em(data-bind="text: ref")
                                    br
                                    em(data-bind="text: sha")
                            <!-- /ko -->
block scripts
    script(src='/js/socket.io.js')
    script(src='/js/knockout-2.3.0.js')
    script(src='/js/knockout.mapping-latest.js')
    script(src='../js/models/AppViewModel.js')
    script.
        $(function() {
            var user = !{JSON.stringify(user)};
            var orgs = !{JSON.stringify(orgs)};
            var model = { user: user, orgs: orgs };
            var viewmodel = new AppViewModel(model);

            window.viewmodel = viewmodel;
            ko.applyBindings(viewmodel);
        });