extend layout

block stylesheet
    link(rel="stylesheet",href="/css/jumbotron-narrow.css")
block content
    .masthead
        h3.text-muted naviam.io
    .jumbotron
        //- h1 Improve SDLC with ease!
        //- p.lead Increase visibility of features, manage features on different environments, auto-refresh all environments from production, auto-clean environments when dirty.
        p Please choose an account type:
        p
            a.btn.btn-success(href='/login/github') Github
        p or
        p
            a.btn.btn-primary(href='/login/github-enterprise') Github Enterprise
    //- div.row
    //-     div.col-lg-4
    //-         h2 Visibility
    //-         p Text
    //-     div.col-lg-4
    //-         h2 Automated process
    //-         p Text
    //-     div.col-lg-4
    //-         h2 Automated process
    //-         p Text
    .footer
        p &copy; Naviam, Inc. 2014