doctype html
html(lang="en", ng-app)
    head
        title=title
        meta(charset="utf-8")
        meta(name="description",content="Naviam | Release Manager")
        meta(name="author",content="Naviam, Inc.")
        meta(name="viewport",content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet",href="/css/bootstrap.min.css")
        link(rel="stylesheet",href="/css/bootstrap-theme.min.css")
        block stylesheet
        link(rel="stylesheet",href="/css/site.css")
    body
        block navigation
        block content
        script(src='/js/jquery.min.js')
        script(src='/js/bootstrap.min.js')
        block scripts